<div class="container">
  <div class="row m-2">
    <div class="col-2 text-center bg-light">マイページ</div>
  </div>
  <div class="row my-2 align-items-center">
    <div class="col-1"><b>登録情報</b></div>
    <div class="col-2">
      <%= link_to "編集する", customers_information_edit_path, class: "btn btn-success btn-block w-75 font-weight-bold" %>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="bg-light", style="width: 25%">氏名</td>
            <td><%= current_customer.last_name %>　<%= current_customer.first_name %></td>
          </tr>
          <tr>
            <td class="bg-light">カナ</td>
            <td><%= current_customer.last_name_kana %>　<%=current_customer.first_name_kana %></td>
          </tr>
          <tr>
            <td class="bg-light">郵便番号</td>
            <td><%= current_customer.postal_code %></td>
          </tr>
          <tr>
            <td class="bg-light">住所</td>
            <td><%= current_customer.address %></td>
          </tr>
          <tr>
            <td class="bg-light">電話番号</td>
            <td><%= current_customer.telephone_number %></td>
          </tr>
          <tr>
            <td class="bg-light">メールアドレス</td>
            <td><%= current_customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row my-2 align-items-center">
    <div class="col-1"><b>配送先</b></div>
      <div class="col-2">
        <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary btn-block w-75 font-weight-bold" %>
      </div>
  </div>
  <div class="row my-2 align-items-center">
    <div class="col-1"><b>注文履歴</b></div>
    <div class="col-2">
        <%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-block w-75 font-weight-bold" %>
    </div>
  </div>
</div>



