<div class="container">
  <div class="row m-2 w-75">
    <div class="col-2 text-center bg-light">商品詳細</div>
  </div>
  
  <div class="row justify-content-md-center mt-5">
    <div class="col-2">
      <%= image_tag @item.get_image(200,200) %>
    </div>
    <div class="col-6">
      <div class="row justify-content-md-left">
        <label class="col-3">商品名</label>
        <div class="col-4"><%= @item.name %></div>
      </div>
      <div class="row justify-content-md-left">
        <label class="col-3">商品説明</label>
        <div class="col-4"><%= @item.introduction %></div>
      </div>
      <div class="row justify-content-md-left">
        <label class="col-3">ジャンル</label>
        <div class="col-4"><%= Genre.find(@item.genre_id).name %></div>
      </div>
      <div class="row justify-content-md-left">
        <label class="col-3">税込価格<br>(税抜価格)</label>
        <div class="col-4"><%= @item.with_tax_price.to_s(:delimited) %> (<%= @item.price.to_s(:delimited) %>)円</div>
      </div>
      <div class="row justify-content-md-left">
        <label class="col-3">販売ステータス</label>
        <div class="col-4">
          <% if @item.is_active == true %>
            <b class="text-success">販売中</b>
          <% else %>
            <b class="text-muted">販売停止中</b>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-2">
      <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-sm btn-success btn-block" %>
    </div>
  </div>
</div>